*{margin: 0;
    padding:0;}
    .grid-container12 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }
    .grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    }
    .grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto ;
    }
    .grid-container2 {
    display: grid;
    grid-template-columns: auto auto ;
    }
    .walk-in{
    margin-left: 102px;
    }
    .mob-navbar{
    display: none;
    }
    .mob-header{
    /* padding: 20px;*/
    height: 100px;
    }
    .toggle-span{
    float: left; text-align: left;
    }
    .search-and-flag
    {
    float: right;  width:10%;text-align: right;
    }
    .navbar-toggle {
    position: relative;
    float: left;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    }
    .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    }
    .icon-bar {
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;}
    .header {
    background-color: white;
    color: #ffffff;
    padding: 0px;
    padding: 9px;
    height: 71px;
    position: relative;
    border: 1px solid transparent
    }
    #logoimg{
    height: 30px;
    width: 125px;
    }
    .dropdown-one,.dropdown-two,.dropdown-three,.dropdown-four,.dropdown-five {
    float: left;
    overflow: hidden;
    }
    .glyphicon {
    position: relative;
    top: 27px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    .cultural-dropdown {
    margin-top: 27px;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 20px;
    vertical-align: middle;
    display: inline-flex;
    }
    .india{
    padding-left: 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    }
    .navbar button{
    border: none;
    outline: none;
    color: #34495e;
    font-weight: bold;
    padding: 27px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    }
    .navbar button{
    color: #34495e;
    font-weight: bold;
    height: 70px;
    }
    .dropdown-one:hover .dropbtn-one {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    }
    .dropdown-two:hover .dropbtn-two {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    }
    .dropdown-three:hover .dropbtn-three {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    }
    .dropdown-four:hover .dropbtn-four {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    }
    .dropdown-five:hover .dropbtn-five {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    }
    .dropdown-content-one,.dropdown-content-three,.dropdown-content-two,.dropdown-content-four,.dropdown-content-five{
    display: none;
    position: absolute;
    background-color:#F0F1F2;
    width: 100%;
    left: 0;
    top: 71px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
    padding: 17px;
    }
    .mob-search,.mob-flag-icon{
    display: none;
    }
    .dropdown-one:hover .dropdown-content-one {
    display: block;
    }
    .dropdown-two:hover .dropdown-content-two {
    display: block;
    }
    .dropdown-three:hover .dropdown-content-three {
    display: block;
    }
    .dropdown-four:hover .dropdown-content-four {
    display: block;
    }
    .dropdown-five:hover .dropdown-content-five {
    display: block;
    }
    /* Create three equal columns that floats next to each other */
    .column {
    float: left;
    padding: 10px;
    background-color: #F0F1F2;;
    height: auto;
    }
    .column a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 0px;
    }
    .mega-dropdown-menu h4 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    }
    .mega-dropdown-menu p {
    color: #34495e;
    font-weight: normal
    }
    .mega-dropdown-menu p:hover {
    color: #3498db;
    }
    .featured-resource-box .box, .featured-resource-box .boxText {
    display: table-cell;
    vertical-align: top;
    }
    .featured-resource-box .boxText p{
    color: #34495e;
    font-weight: normal;
    margin-bottom: 10px;
    margin: 0 0 10px;
    padding-right: 55px;
    padding-left: 15px;
    }
    .featured-resource-box p.featured-learn-more {
    color: #34495e;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    }
    .boxText:hover p{
    color: #3498db;
    }
    .mega-dropdown-menu li {
    list-style: outside none none;
    margin-bottom: 15px;
    display: list-item;
    text-align: -webkit-match-parent;
    }
    .mega-dropdown-menu li a {
    /* color: #333;*/
    text-decoration: none;
    list-style: outside none none;
    }
    .mega-dropdown-menu li a h5 {
    font-weight: 600;
    margin-bottom: 5px;
    color: #34495e;
    font-size: 15px;
    margin-top: 10px;
    font-family: inherit;
    line-height: 1.1;
    }
    .column-two{
    float: left;
    width: 20%;
    }
    .column-two-two {
    float: left;
    width: 30%;
    }
    .column-three {
    float: left;
    width: 70%;
    padding-right: 20px;
    padding-left: 60px;
    }
    #menu {
    width: 100%;
    overflow: hidden;
    max-height: auto;
    display: none; 
    top: 71px;
    position: fixed;
    }
    .navbar-collapse{
    border-color: #e7e7e7;
    padding-right: 0;
    padding-left: 0;
    }
    .text-uppercase {
    text-transform: uppercase;
    }
    .nav>li {
    position: relative;
    display: block;
    border: 1px solid #d9d9d9;
    }
    .navbar-nav-m>li>a.dropdown-toggle {
    background-color: #ececed;
    }
    .mega-dropdown-list a{
    color: #34495e;
    font-weight: bold;
    }
    .navbar-nav {
    margin: 0px;
    }
    #child-menu{
    display: none;
    }
    #child-menu a{
    color: #34495e;
    font-weight: normal;
    padding-left: 38px;
    }
    #child-menu .nav-arrow{
    right: 16px; 
    }
    #border{
    border-top: 1px solid #d9d9d9;
    }
    .nav-arrow.glyphicon-chevron-up {
    display: none;
    }
    .mega-dropdown a.dropdown-toggle .nav-arrow {
    position: absolute;
    right: 16px;
    top: 14px;
    color: #3498db;
    font-size: 12px;
    }
    .glyphicon {
    position: relative;
    left: -14%;
    cursor: pointer;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    }
    .navbar {
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 71px;
    z-index: 2;
    border: none;
    box-shadow: 5px 3px 17px 0px #888888bf;
    }
    .mega-dropdown a.dropdown-toggle .nav-arrow {
    position: absolute;
    right: 16px;
    top: 14px;
    color: #3498db;
    font-size: 12px;
    left: 92%;
    }
    /*---media query--*/
    @media screen  and (max-width: 768px) /* mobile */ {
    [class*="rid-"] {
    display: grid;
    grid-template-columns: auto;
    }
    .walk-in{
    margin-left:0;
    }
    #logoimg{
    position: absolute;
    left: 66%;
    top: 36%; 
    margin-left: -150px;
    margin-top: -4px;
    }
    .container{
    margin-top: 120px;
    }
    .navbar{
    display: none;
    }
    .mob-navbar{
    display: block;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 71px;
    z-index: 2;
    border: none;
    box-shadow: 5px 3px 17px 0px #888888bf;
    }
    .dropdown-one:hover .dropdown-content-one {
    display: none;
    }
    .dropdown-two:hover .dropdown-content-two {
    display: none;
    }
    .dropdown-three:hover .dropdown-content-three {
    display: none;
    }
    .dropdown-four:hover .dropdown-content-four {
    display: none;
    }
    .dropdown-five:hover .dropdown-content-five {
    display: none;
    }
    .dropdown-one,.dropdown-two,.dropdown-three,.dropdown-four,.dropdown-five,.contact-us,.about-us,.walk-in,.cultural-dropdown,.flag-icon{
    display: none;
    }
    .mob-search,.mob-flag-icon{
    display: block;
    }
    .column {
    width: 100%;
    height: auto;
    }
    .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
    }
    